{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}{% endblock %}
        
        <link rel="stylesheet" href="link rel="stylesheet href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <title>SSH.BRAND</title>
</head>
<body>

  <nav class="navbar">
    <div class="navbar-container container">
        <input type="checkbox">
        <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>
        <ul class="menu-items">
            <li><a href="/">HOME</a></li>
            <li><a href="/home/about">ABOUT</a></li>
            <li><a href="/home/contact">CONTACT</a></li>
            <li><a href="/home/men">MEN</a></li>
            <li><a href="/home/women">WOMEN</a></li>
        </ul>
        <h1 class="logo">SSH</h1>
    </div>

</nav> 
{% block content %}
{% endblock %}
<footer id="footer">
    <h2>SSH website &copy; all rights reserved. </h2>
</footer>

</body>
</html>