{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shop</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/shop.css' %}">
</head>
<body>
    <nav class="nav">
           <a href="/">BACK TO MAIN PAGE</a>

    </nav>

    <section class="shop-items">
       <div class="boxx">
            <h1 class="products">Men</h1>
           
            <div class="box-d">
                <div class="box1">
                <a href="#"><img src="{%static 'images/men clothe1.jpg'%}" alt="">
                <h3>watani-17</h3</a>
                </div>
                <div class="box2">
                <a href="#"><img src="{%static 'images/men14.jpeg'%}" alt="">
                    <h3>watani-18</h3></a> 
                </div>
                <div class="box3">
                <a href="#"><img src="{%static 'images/men18.jpg'%}" alt="">
                    <h3>watani-19</h3></a> 
                </div>
                <div class="box4">
                <a href="#"><img src="{%static 'images/men13.jpg'%}" alt="">
                <h3>watani-20</h3></a> 
                </div>
            </div>


            <div class="box-e">
                <div class="box1">
                <a href="#"><img src="{%static 'images/men15.jpeg'%}" alt="">
                <h3>watani-21</h3</a>
                </div>
                <div class="box2">
                <a href="#"><img src="{%static 'images/men17.jpg'%}" alt="">
                    <h3>watani-22</h3></a> 
                </div>
                <div class="box3">
                <a href="#"><img src="{%static 'images/men7.jpg'%}" alt="">
                    <h3>watani-23</h3></a> 
                </div>
                <div class="box4">
                <a href="#"><img src="{%static 'images/men9.jpg'%}" alt="">
                <h3>watani-24</h3></a> 
                </div>
            </div>

            <div class="box-f">
                <div class="box1">
                <a href="#"><img src="{%static 'images/men clothe.jpg'%}" alt="">
                <h3>watani-25</h3</a>
                </div>
                <div class="box2">
                <a href="#"><img src="{%static 'images/men clothe6.jpg'%}" alt="">
                    <h3>watani-26</h3></a> 
                </div>
                <div class="box3">
                <a href="#"><img src="{%static 'images/men11.jpg'%}" alt="">
                    <h3>watani-27</h3></a> 
                </div>
                <div class="box4">
                <a href="#"><img src="{%static 'images/men20.webp'%}" alt="">
                <h3>watani-28</h3></a> 
                </div>
            </div>
        
       </div>


    </section>

    <footer id="footer">
        <h2>SSH website &copy; all rights reserved. </h2>
    </footer>
    
</body>
</html>