{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shop</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/shop.css' %}">
</head>
<body>
    <nav class="nav">
           <a href="/">BACK TO MAIN PAGE</a>

    </nav>

    <section class="shop-items">
        <div class="boxx">
                    <h1 class="products">women</h1>
                <div class="box">
                    <div class="box1">
                    <a href="#"><img src="{%static 'images/IMG-20230822-WA0000.jpg'%}" alt="">
                    <h3>watani-1</h3</a>
                    </div>
                    <div class="box2">
                    <a href="#"><img src="{%static 'images/IMG-20230822-WA0001.jpg'%}" alt="">
                        <h3>watani-2</h3></a> 
                    </div>
                    <div class="box3">
                    <a href="#"><img src="{%static 'images/IMG-20230822-WA0002.jpg'%}" alt="">
                        <h3>watani-3</h3></a> 
                    </div>
                    <div class="box4">
                    <a href="#"><img src="{%static 'images/IMG-20230822-WA0004.jpg'%}" alt="">
                    <h3>watani-4</h3></a> 
                    </div>
                </div>

                <div class="box-a">
                    <div class="box1">
                    <a href="#"><img src="{%static 'images/IMG-20230822-WA0005.jpg'%}" alt="">
                    <h3>watani-5</h3</a>
                    </div>
                    <div class="box2">
                    <a href="#"><img src="{%static 'images/IMG-20230822-WA0006.jpg'%}" alt="">
                        <h3>watani-6</h3></a> 
                    </div>
                    <div class="box3">
                    <a href="#"><img src="{%static 'images/IMG-20230822-WA0007.jpg'%}" alt="">
                        <h3>watani-7</h3></a> 
                    </div>
                    <div class="box4">
                    <a href="#"><img src="{%static 'images/IMG-20230822-WA0008.jpg'%}" alt="">
                    <h3>watani-8</h3></a> 
                    </div>
                </div>
            
                <div class="box-b">
                    <div class="box1">
                    <a href="#"><img src="{%static 'images/IMG-20230822-WA0009.jpg'%}" alt="">
                    <h3>watani-9</h3</a>
                    </div>
                    <div class="box2">
                    <a href="#"><img src="{%static 'images/IMG-20230822-WA0010.jpg'%}" alt="">
                        <h3>watani-10</h3></a> 
                    </div>
                    <div class="box3">
                    <a href="#"><img src="{%static 'images/IMG-20230822-WA0011.jpg'%}" alt="">
                        <h3>watani-11</h3></a> 
                    </div>
                    <div class="box4">
                    <a href="#"><img src="{%static 'images/IMG-20230822-WA0012.jpg'%}" alt="">
                    <h3>watani-12</h3></a> 
                    </div>
                </div>


                <div class="box-c">
                    <div class="box1">
                    <a href="#"><img src="{%static 'images/IMG-20230822-WA0013.jpg'%}" alt="">
                    <h3>watani-13</h3</a>
                    </div>
                    <div class="box2">
                    <a href="#"><img src="{%static 'images/IMG-20230822-WA0014.jpg'%}" alt="">
                        <h3>watani-14</h3></a> 
                    </div>
                    <div class="box3">
                    <a href="#"><img src="{%static 'images/IMG-20230822-WA0015.jpg'%}" alt="">
                        <h3>watani-15</h3></a> 
                    </div>
                    <div class="box4">
                    <a href="#"><img src="{%static 'images/IMG-20230822-WA0016.jpg'%}" alt="">
                    <h3>watani-16</h3></a> 
                    </div>
                </div>
        </div>
 

    </section>

    <footer id="footer">
        <h2>SSH website &copy; all rights reserved. </h2>
    </footer>
    
</body>
</html>